.users-list h1 {
	margin: 0;
	padding: 1rem;
	border: 2px solid var(--color-border);
	border-top: none;
}

.profile {
	display: flex;
	border: 2px solid var(--color-border);
	border-top: none;
	padding: 1rem;
}

.profile .details {
	padding-left: 2rem;
}

.profile .details h2 {
	margin: 0;
}

.profile .details .follow a {
	color: var(--text-faded);
	margin-right: 1rem;
}

.profile .details .follow a span {
	color: var(--text);
	font-weight: bold;
}